<!DOCTYPE html>
<html lang="en" ng-app="havocApp">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Havoc</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/trades/">Trade Board</a>
            </li>
            <li>
              <a href="/teams/">Teams</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://games.espn.go.com/ffl/leagueoffice?leagueId=492963" target="_blank">ESPN League Page</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
        <div class="page-container">
